public_html/blocks/footer.html

<footer class="footer">
  <div class="footer__main">
    <div class="footer__content footer__content_services">
      <h2 class="footer__title">NUESTROS SERVICIOS</h2>
      <ul class="main-footer">
        <li class="main-footer__item"><a class="main-footer__link" href="./transporte-nacional.html">Transporte</a></li>
        <li class="main-footer__item"><a class="main-footer__link" href="./mudanzas.html">Mudanzas</a></li>
        <li class="main-footer__item"><a class="main-footer__link" href="./embalaje.html">Embalaje</a></li>
        <li class="main-footer__item"><a class="main-footer__link" href="./almacenaje.html">Almacenaje</a></li>
      </ul>
    </div>
    <div class="footer__content footer__content_adress">
      <h2 class="footer__title">DIRECCION - BOLIVIA</h2>
      <p class="footer__text"><strong>Santa Cruz:</strong> 4º Anillo # 4170, entre Av. Piraí y Radial 19 (frente al garaje Los Mangales)<br/><strong>Telfs.:</strong> (591-3) 3515454, <strong>Cels.:</strong> 73106096<img src="images/whatsapp.png" alt=""/> - 77690582<img src="images/whatsapp.png" alt=""/><br/><strong>Email:</strong> transmencargo887@gmail.com <a class="main-footer__link" href="./contactos.html#scz"><i class="icon icon-marker"></i><strong> VER MAPA </strong></a></p>
      <p class="footer__text"><br/><strong>La Paz - El Alto:</strong> Z. Ciudad Satélite, Av. Alfredo Sanjinéz, calle E # 70 a<br/> 2 cuadras del Hipermaxi<br/><strong>Telfs.:</strong> (591-2) 2987180, <strong>Cels.:</strong> 75645334<img src="images/whatsapp.png" alt=""/> - 77263337<img src="images/whatsapp.png" alt=""/><br/><strong>Email:</strong> transmencargolpz@gmail.com <a class="main-footer__link" href="./contactos.html#lpz"><i class="icon icon-marker"></i><strong> VER MAPA </strong></a></p>
    </div>
  </div>
  <div class="footer__main_fot">
    <div class="footer__copyright footer__copyright_a">
      <p>Todos los Derechos Reservados ® <strong> TRANS MEN CARGO.</strong> © 2017.</p>
    </div>
    <div class="footer__copyright footer__copyright footer__copyright_b">
      <ul class="social_icons">
        <li><a href="#"><i class="icon icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon icon-google"></i></a></li>
      </ul>
    </div>
    <div class="footer__copyright footer__copyright footer__copyright_c"><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación Ah! Publicidad</a></div>
  </div>
</footer>
<script src="js/main.js"></script>

pug/blocks/footer.pug
footer.footer
  .footer__main
    .footer__content.footer__content_services
      h2.footer__title NUESTROS SERVICIOS
      ul.main-footer
        li.main-footer__item: a.main-footer__link(href="./transporte-nacional.html") Transporte
        li.main-footer__item: a.main-footer__link(href="./mudanzas.html") Mudanzas
        li.main-footer__item: a.main-footer__link(href="./embalaje.html") Embalaje
        li.main-footer__item: a.main-footer__link(href="./almacenaje.html") Almacenaje
    .footer__content.footer__content_adress
      h2.footer__title DIRECCION - BOLIVIA
      p.footer__text
        strong Santa Cruz:
        |  4º Anillo # 4170, entre Av. Piraí y Radial 19 (frente al garaje Los Mangales)
        br
        strong Telfs.:
        |  (591-3) 3515454, 
        strong Cels.:
        |  73106096
        img(src='images/whatsapp.png', alt='')
        |  - 77690582
        img(src='images/whatsapp.png', alt='')
        br
        strong Email:
        |  transmencargo887@gmail.com 
        a.main-footer__link(href='./contactos.html#scz')
          i.icon.icon-marker
          strong  VER MAPA 
      p.footer__text
        br
        strong La Paz - El Alto:
        |  Z. Ciudad Satélite, Av. Alfredo Sanjinéz, calle E # 70 a
        br
        |  2 cuadras del Hipermaxi
        br
        strong Telfs.:
        |  (591-2) 2987180, 
        strong Cels.:
        |  75645334
        img(src='images/whatsapp.png', alt='')
        |  - 77263337
        img(src='images/whatsapp.png', alt='')
        br
        strong Email:
        |  transmencargolpz@gmail.com 
        a.main-footer__link(href='./contactos.html#lpz')
          i.icon.icon-marker
          strong  VER MAPA 
  .footer__main_fot
    .footer__copyright.footer__copyright_a
      p Todos los Derechos Reservados ® <strong> TRANS MEN CARGO.</strong> © 2017.
    .footer__copyright.footer__copyright.footer__copyright_b
      ul.social_icons
        li: a(href='#')
          i.icon.icon-facebook
        li: a(href='#')
          i.icon.icon-twitter
        li: a(href='#')
          i.icon.icon-google
    .footer__copyright.footer__copyright.footer__copyright_c
      a.ah(href='//ahpublic.com', target='_blank') Diseño y Programación Ah! Publicidad
script(src="js/main.js")
  
