pug/index.pug
<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body
    +header('Inicio')
    main
      .content
        .content__page.content__page_cities
          .s-100.main-center
            h2(style="margin-bottom: 0;") Destinos:
          .s-50
            ul(style="padding-left: 20px;")
              li La Paz
              li Cochabamba
              li Oruro
              li Tarija
              li Potosí
              li Sucre
          .s-50
            ul(style="padding-left: 20px;")
              li Trinidad
              li Cobija
              li Riberalta
              li Guayanamerin
              li Puerto Suarez
        .content__page.content__page_img
          .animation
            img(src="images/trans-men-cargo.gif", alt="Trans Men Cargo")
             
    include blocks/footer.pug

public_html/index.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="Transporte de carga nacional a La Paz, Cochabamba, Oruro, Tarija, Potosí, Sucre, Trinidad, Cobija, Riberalta, Guayaramerín y Puerto Suarez. Servicio de mudanzas, embalajes, almacenaje."/>
    <meta property="og:title" content="TRANS MEN CARGO: Transporte de carga nacional, mudanzas, embalajes y almacenaje."/>
    <meta property="og:description" content="Transporte de carga nacional a La Paz, Cochabamba, Oruro, Tarija, Potosí, Sucre, Trinidad, Cobija, Riberalta, Guayaramerín y Puerto Suarez. Servicio de mudanzas, embalajes, almacenaje."/>
    <meta name="author" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="styles.css"/>
    <title>TRANS MEN CARGO: Transporte de carga nacional, mudanzas, embalajes y almacenaje</title>
  </head>
  <body>
      <header class="header">
        <div class="header__container">
          <div class="header__logo"><a href="./"><img src="./images/logo.png" alt="Trans men cargo"/></a></div>
          <div class="header__slogan">
            <h2>TRANSPORTE MUNDANZAS EMBALAJE ALMACENAJE</h2>
            <h3>"SERVICIO DE PUERTA A PUERTA"</h3>
          </div>
          <div class="header__inicio">
            <ul class="main-inicio">
              <li class="main-inicio__item active"><a class="main-inicio__link" href="./">Inicio</a></li>
              <li class="main-inicio__item"><a class="main-inicio__link" href="./nosotros.html">Nosotros</a></li>
              <li class="main-inicio__item"><a class="main-inicio__link" href="./contactos.html">Contactos      </a></li>
            </ul>
          </div>
          <div class="item s-30 cross-center main-center toggle__menu">
            <div class="main-end button__toggle button" id="main-nav-toggle"><span>MENÚ </span>
              <div class="nav-toggle">       </div>
            </div>
          </div>
        </div>
        <nav class="main-nav" id="main-nav">
          <ul class="main-movil">
            <li class="main-movil__item active"><a class="main-movil__link" href="./">Inicio</a></li>
            <li class="main-movil__item"><a class="main-movil__link" href="./nosotros.html">Nosotros</a></li>
            <li class="main-movil__item"><a class="main-movil__link" href="./contactos.html">Contactos</a></li>
          </ul>
          <ul class="main-menu" id="main-menu">
            <li class="main-menu__item"><a class="main-menu__link" href="./transporte-nacional.html">TRANSPORTE</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="./mudanzas.html">MUDANZAS</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="./embalaje.html">EMBALAJE</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="./almacenaje.html">ALMACENAJE</a></li>
          </ul>
        </nav>
      </header>
    <main>
      <div class="content">
        <div class="content__page content__page_cities">
          <div class="s-100 main-center">
            <h2 style="margin-bottom: 0;">Destinos:</h2>
          </div>
          <div class="s-50">
            <ul style="padding-left: 20px;">
              <li>La Paz</li>
              <li>Cochabamba</li>
              <li>Oruro</li>
              <li>Tarija</li>
              <li>Potosí</li>
              <li>Sucre</li>
            </ul>
          </div>
          <div class="s-50">
            <ul style="padding-left: 20px;">
              <li>Trinidad</li>
              <li>Cobija</li>
              <li>Riberalta</li>
              <li>Guayanamerin</li>
              <li>Puerto Suarez</li>
            </ul>
          </div>
        </div>
        <div class="content__page content__page_img">
          <div class="animation"><img src="images/trans-men-cargo.gif" alt="Trans Men Cargo"/></div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__main">
        <div class="footer__content footer__content_services">
          <h2 class="footer__title">NUESTROS SERVICIOS</h2>
          <ul class="main-footer">
            <li class="main-footer__item"><a class="main-footer__link" href="./transporte-nacional.html">Transporte</a></li>
            <li class="main-footer__item"><a class="main-footer__link" href="./mudanzas.html">Mudanzas</a></li>
            <li class="main-footer__item"><a class="main-footer__link" href="./embalaje.html">Embalaje</a></li>
            <li class="main-footer__item"><a class="main-footer__link" href="./almacenaje.html">Almacenaje</a></li>
          </ul>
        </div>
        <div class="footer__content footer__content_adress">
          <h2 class="footer__title">DIRECCION - BOLIVIA</h2>
          <p class="footer__text"><strong>Santa Cruz:</strong> 4º Anillo # 4170, entre Av. Piraí y Radial 19 (frente al garaje Los Mangales)<br/><strong>Telfs.:</strong> (591-3) 3515454, <strong>Cels.:</strong> 73106096<img src="images/whatsapp.png" alt=""/> - 77690582<img src="images/whatsapp.png" alt=""/><br/><strong>Email:</strong> transmencargo887@gmail.com <a class="main-footer__link" href="./contactos.html#scz"><i class="icon icon-marker"></i><strong> VER MAPA </strong></a></p>
          <p class="footer__text"><br/><strong>La Paz - El Alto:</strong> Z. Ciudad Satélite, Av. Alfredo Sanjinéz, calle E # 70 a<br/> 2 cuadras del Hipermaxi<br/><strong>Telfs.:</strong> (591-2) 2987180, <strong>Cels.:</strong> 75645334<img src="images/whatsapp.png" alt=""/> - 77263337<img src="images/whatsapp.png" alt=""/><br/><strong>Email:</strong> transmencargolpz@gmail.com <a class="main-footer__link" href="./contactos.html#lpz"><i class="icon icon-marker"></i><strong> VER MAPA </strong></a></p>
        </div>
      </div>
      <div class="footer__main_fot">
        <div class="footer__copyright footer__copyright_a">
          <p>Todos los Derechos Reservados ® <strong> TRANS MEN CARGO.</strong> © 2017.</p>
        </div>
        <div class="footer__copyright footer__copyright footer__copyright_b">
          <ul class="social_icons">
            <li><a href="#"><i class="icon icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon icon-google"></i></a></li>
          </ul>
        </div>
        <div class="footer__copyright footer__copyright footer__copyright_c"><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación Ah! Publicidad</a></div>
      </div>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
