public_html/transporte-nacional.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="Transporte de carga nacional a La Paz, Cochabamba, Oruro, Tarija, Potosí, Sucre, Trinidad, Cobija, Riberalta, Guayaramerín y Puerto Suarez. Servicio de mudanzas, embalajes, almacenaje."/>
    <meta property="og:title" content="TRANS MEN CARGO: Transporte de carga nacional, mudanzas, embalajes y almacenaje."/>
    <meta property="og:description" content="Transporte de carga nacional a La Paz, Cochabamba, Oruro, Tarija, Potosí, Sucre, Trinidad, Cobija, Riberalta, Guayaramerín y Puerto Suarez. Servicio de mudanzas, embalajes, almacenaje."/>
    <meta name="author" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="styles.css"/>
    <title>TRANS MEN CARGO: Transporte de carga nacional, mudanzas, embalajes y almacenaje</title>
  </head>
  <body>
      <header class="header">
        <div class="header__container">
          <div class="header__logo"><a href="./"><img src="./images/logo.png" alt="Trans men cargo"/></a></div>
          <div class="header__slogan">
            <h2>TRANSPORTE MUNDANZAS EMBALAJE ALMACENAJE</h2>
            <h3>"SERVICIO DE PUERTA A PUERTA"</h3>
          </div>
          <div class="header__inicio">
            <ul class="main-inicio">
              <li class="main-inicio__item"><a class="main-inicio__link" href="./">Inicio</a></li>
              <li class="main-inicio__item"><a class="main-inicio__link" href="./nosotros.html">Nosotros</a></li>
              <li class="main-inicio__item"><a class="main-inicio__link" href="./contactos.html">Contactos      </a></li>
            </ul>
          </div>
          <div class="item s-30 cross-center main-center toggle__menu">
            <div class="main-end button__toggle button" id="main-nav-toggle"><span>MENÚ </span>
              <div class="nav-toggle">       </div>
            </div>
          </div>
        </div>
        <nav class="main-nav" id="main-nav">
          <ul class="main-movil">
            <li class="main-movil__item"><a class="main-movil__link" href="./">Inicio</a></li>
            <li class="main-movil__item"><a class="main-movil__link" href="./nosotros.html">Nosotros</a></li>
            <li class="main-movil__item"><a class="main-movil__link" href="./contactos.html">Contactos</a></li>
          </ul>
          <ul class="main-menu" id="main-menu">
            <li class="main-menu__item main-menu__item_active"><a class="main-menu__link" href="./transporte-nacional.html">TRANSPORTE</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="./mudanzas.html">MUDANZAS</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="./embalaje.html">EMBALAJE</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="./almacenaje.html">ALMACENAJE</a></li>
          </ul>
        </nav>
      </header>
    <main>
      <div class="content content_pages">    
        <div class="content__page s-100 m-100 l-100"> 
          <h2 class="title__page s-100 main-center">TRANSPORTE LOCAL Y NACIONAL</h2>
        </div>
        <div class="content__page s-100 m-100 l-100">
          <p>En <strong>Trans Men Cargo</strong> somos conscientes de que el transporte no sólo consiste en llevar paquetes de un lugar a otro. Por ello, ofrecemos ventajas y valores añadidos al transporte convencional, en dar un trato personalizado a nuestros clientes, que cuentan con la tranquilidad de que para cualquier problema que surja siempre podrán contactar con nosotros para solucionarlo.</p>
        </div>
        <div class="gallery">
          <figure class="gallery__item">
            <div class="gallery__img"><img src="images/transporte-nacional1.jpg" alt="Trasporte Nacional"/></div>
          </figure>
          <figure class="gallery__item">
            <div class="gallery__img"><img src="images/transporte-nacional2.jpg" alt="Trasporte Nacional"/></div>
          </figure>
          <figure class="gallery__item">
            <div class="gallery__img"><img src="images/transporte-nacional3.jpg" alt="Trasporte Nacional"/></div>
          </figure>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__main">
        <div class="footer__content footer__content_services">
          <h2 class="footer__title">NUESTROS SERVICIOS</h2>
          <ul class="main-footer">
            <li class="main-footer__item"><a class="main-footer__link" href="./transporte-nacional.html">Transporte</a></li>
            <li class="main-footer__item"><a class="main-footer__link" href="./mudanzas.html">Mudanzas</a></li>
            <li class="main-footer__item"><a class="main-footer__link" href="./embalaje.html">Embalaje</a></li>
            <li class="main-footer__item"><a class="main-footer__link" href="./almacenaje.html">Almacenaje</a></li>
          </ul>
        </div>
        <div class="footer__content footer__content_adress">
          <h2 class="footer__title">DIRECCION - BOLIVIA</h2>
          <p class="footer__text"><strong>Santa Cruz:</strong> 4º Anillo # 4170, entre Av. Piraí y Radial 19 (frente al garaje Los Mangales)<br/><strong>Telfs.:</strong> (591-3) 3515454, <strong>Cels.:</strong> 73106096<img src="images/whatsapp.png" alt=""/> - 77690582<img src="images/whatsapp.png" alt=""/><br/><strong>Email:</strong> transmencargo887@gmail.com <a class="main-footer__link" href="./contactos.html#scz"><i class="icon icon-marker"></i><strong> VER MAPA </strong></a></p>
          <p class="footer__text"><br/><strong>La Paz - El Alto:</strong> Z. Ciudad Satélite, Av. Alfredo Sanjinéz, calle E # 70 a<br/> 2 cuadras del Hipermaxi<br/><strong>Telfs.:</strong> (591-2) 2987180, <strong>Cels.:</strong> 75645334<img src="images/whatsapp.png" alt=""/> - 77263337<img src="images/whatsapp.png" alt=""/><br/><strong>Email:</strong> transmencargolpz@gmail.com <a class="main-footer__link" href="./contactos.html#lpz"><i class="icon icon-marker"></i><strong> VER MAPA </strong></a></p>
        </div>
      </div>
      <div class="footer__main_fot">
        <div class="footer__copyright footer__copyright_a">
          <p>Todos los Derechos Reservados ® <strong> TRANS MEN CARGO.</strong> © 2017.</p>
        </div>
        <div class="footer__copyright footer__copyright footer__copyright_b">
          <ul class="social_icons">
            <li><a href="#"><i class="icon icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon icon-google"></i></a></li>
          </ul>
        </div>
        <div class="footer__copyright footer__copyright footer__copyright_c"><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación Ah! Publicidad</a></div>
      </div>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>

pug/transporte-nacional.pug
<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body
    +header('TRANSPORTE NACIONAL')
    main
      .content.content_pages     
        .content__page.s-100.m-100.l-100  
          h2.title__page.s-100.main-center TRANSPORTE LOCAL Y NACIONAL
        .content__page.s-100.m-100.l-100
          p En <strong>Trans Men Cargo</strong> somos conscientes de que el transporte no sólo consiste en llevar paquetes de un lugar a otro. Por ello, ofrecemos ventajas y valores añadidos al transporte convencional, en dar un trato personalizado a nuestros clientes, que cuentan con la tranquilidad de que para cualquier problema que surja siempre podrán contactar con nosotros para solucionarlo.
        .gallery
          figure.gallery__item
            .gallery__img: img(src="images/transporte-nacional1.jpg", alt="Trasporte Nacional")
          figure.gallery__item
            .gallery__img: img(src="images/transporte-nacional2.jpg", alt="Trasporte Nacional")
          figure.gallery__item
            .gallery__img: img(src="images/transporte-nacional3.jpg", alt="Trasporte Nacional")
    include blocks/footer.pug
